<a href="https://colab.research.google.com/github/eschmidt39/Homework3_Schmidt/blob/main/FWE458_Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#load Mauna Loa CO2.csv data set from drive
from google.colab import drive
drive.mount('/content/drive/')

filedir='/content/drive/MyDrive/FWE 458 - Envir. Data Sci./2-4 Lecture/'
fname=filedir+'MaunaLoaCO2_monthly_sitename.csv'

df=pd.read_csv(fname)
print(df)

Mounted at /content/drive/
     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
0    1958      3     1958.2027           315.70          314.43         -1
1    1958      4     1958.2877           317.45          315.16         -1
2    1958      5     1958.3699           317.51          314.71         -1
3    1958      6     1958.4548           317.24          315.14         -1
4    1958      7     1958.5370           315.86          315.18         -1
..    ...    ...           ...              ...             ...        ...
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28
766  2022      1     2022.0417           418.19          417.87         29

     stdofdays      site
0        -9.99  MaunaLoa
1        -9.99  MaunaLoa
2        -9.99  MaunaLoa
3        -9.99  MaunaLoa
4        -9.99  MaunaLoa
..         ...       ...
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa
766       0.75  MaunaLoa

[767 rows x 8 columns]

In [3]:
#exclude data from 1958 and 2022

years_df = df[(df["Year"] != 2022) & (df["Year"] != 1958)]
  #filter_df = df execpt for (!= - not equal to) 2022 and 1958

#remove rows with invalid/negative numofdays or stdofdays (must do it separately because they are different types, int vs. dec)
numfilt_df = years_df[(years_df["numofdays"] >= 0)]
filter_df = numfilt_df[(numfilt_df["stdofdays"] >= 0)]

print(filter_df)

     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
194  1974      5     1974.3750           333.19          330.22         13
195  1974      6     1974.4583           332.20          329.78         25
196  1974      7     1974.5417           331.07          330.21         24
197  1974      8     1974.6250           329.15          330.54         26
198  1974      9     1974.7083           327.33          330.44         22
..    ...    ...           ...              ...             ...        ...
761  2021      8     2021.6250           414.47          416.49         26
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28

     stdofdays      site
194       0.31  MaunaLoa
195       0.37  MaunaLoa
196       0.24  MaunaLoa
197       0.31  MaunaLoa
198       0.47  MaunaLoa
..         ...       ...
761       0.72  MaunaLoa
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa

[570 rows x 8 columns]

In [4]:
#calculate annual stats

#made new data frame to hold all stats
annual_stats=pd.DataFrame()

#group data by the year, take the mean of Monthly_average (for each year), and set it in the annual stats DF called "annual_average"
annual_stats["annual_average"] = filter_df.groupby("Year")["Monthly_average"].mean()
#group data by year, take mean of "deseasonalized" for each year, and set it in annual stats DF called "deseasonalized_annual_average"
annual_stats["deseasonalized_annual_average"] = filter_df.groupby("Year")["deseasonalized"].mean()
#group data by year, take std of "Monthly_average" for each year, and put it in annual stats DF as "std_of_months"
annual_stats["std_of_months"] = filter_df.groupby("Year")["Monthly_average"].std()

#didn't reset index incase the years (or whatever you are grouping by) are out of order, this way it puts the correct year's stats together

print(annual_stats)

      annual_average  deseasonalized_annual_average  std_of_months
Year
1974      329.763750                     330.346250       2.203789
1975      331.160909                     331.072727       1.943751
1976      332.026667                     332.028333       2.085610
1977      333.843333                     333.841667       1.931882
1978      335.415000                     335.413333       1.995014
1979      336.835833                     336.835833       1.837639
1980      338.762500                     338.765000       1.871271
1981      340.119167                     340.120000       2.105989
1982      341.479167                     341.476667       2.151386
1983      343.152500                     343.152500       1.936093
1984      344.639091                     344.874545       1.963520
1985      346.351667                     346.350833       1.996983
1986      347.608333                     347.608333       1.834358
1987      349.312500                     349.313333       1.800430
1988      351.690833                     351.690833       1.780860
1989      353.205000                     353.205000       1.978569
1990      354.453333                     354.451667       1.892379
1991      355.704167                     355.703333       2.343313
1992      356.544167                     356.545833       2.304432
1993      357.215833                     357.214167       2.033597
1994      358.959167                     358.960000       1.916656
1995      360.968333                     360.966667       1.953672
1996      362.743333                     362.743333       1.960669
1997      363.877500                     363.876667       2.008578
1998      366.840000                     366.839167       1.790520
1999      368.540000                     368.540833       2.080350
2000      369.706667                     369.707500       1.695434
2001      371.319167                     371.318333       1.893772
2002      373.452500                     373.452500       1.735407
2003      375.983333                     375.983333       1.840836
2004      377.698333                     377.697500       2.110062
2005      379.983333                     379.982500       1.987915
2006      382.090833                     382.089167       2.027064
2007      384.025000                     384.024167       1.958587
2008      385.830833                     385.830000       1.745209
2009      387.643333                     387.643333       1.876643
2010      390.101667                     390.101667       2.027290
2011      391.850833                     391.850833       1.737958
2012      394.055833                     394.055833       1.823775
2013      396.737500                     396.738333       1.956231
2014      398.870833                     398.870000       2.062093
2015      401.012500                     401.012500       1.967907
2016      404.412500                     404.414167       2.208719
2017      406.757500                     406.757500       2.030943
2018      408.715000                     408.715000       1.787718
2019      411.654167                     411.655833       1.940963
2020      414.238333                     414.235833       1.880947
2021      416.450833                     416.450000       2.025027

In [5]:
#classify annual CO2 into levels: low<350, 350<moderate>400, high>400

def categorize_co2(value):
  if value < 350:
    return "Low"
  elif value < 400:
    return "Moderate"
  else:
    return "High"

#add column to annual_stats
annual_stats["CO2_category"] = annual_stats["annual_average"].apply(categorize_co2)

#didn't reset index until now to make sure that the correct info goes into the correct rows (doesn't get switched around by changing the index)
annual_stats = annual_stats.reset_index()

print(annual_stats)

    Year  annual_average  deseasonalized_annual_average  std_of_months  \
0   1974      329.763750                     330.346250       2.203789
1   1975      331.160909                     331.072727       1.943751
2   1976      332.026667                     332.028333       2.085610
3   1977      333.843333                     333.841667       1.931882
4   1978      335.415000                     335.413333       1.995014
5   1979      336.835833                     336.835833       1.837639
6   1980      338.762500                     338.765000       1.871271
7   1981      340.119167                     340.120000       2.105989
8   1982      341.479167                     341.476667       2.151386
9   1983      343.152500                     343.152500       1.936093
10  1984      344.639091                     344.874545       1.963520
11  1985      346.351667                     346.350833       1.996983
12  1986      347.608333                     347.608333       1.834358
13  1987      349.312500                     349.313333       1.800430
14  1988      351.690833                     351.690833       1.780860
15  1989      353.205000                     353.205000       1.978569
16  1990      354.453333                     354.451667       1.892379
17  1991      355.704167                     355.703333       2.343313
18  1992      356.544167                     356.545833       2.304432
19  1993      357.215833                     357.214167       2.033597
20  1994      358.959167                     358.960000       1.916656
21  1995      360.968333                     360.966667       1.953672
22  1996      362.743333                     362.743333       1.960669
23  1997      363.877500                     363.876667       2.008578
24  1998      366.840000                     366.839167       1.790520
25  1999      368.540000                     368.540833       2.080350
26  2000      369.706667                     369.707500       1.695434
27  2001      371.319167                     371.318333       1.893772
28  2002      373.452500                     373.452500       1.735407
29  2003      375.983333                     375.983333       1.840836
30  2004      377.698333                     377.697500       2.110062
31  2005      379.983333                     379.982500       1.987915
32  2006      382.090833                     382.089167       2.027064
33  2007      384.025000                     384.024167       1.958587
34  2008      385.830833                     385.830000       1.745209
35  2009      387.643333                     387.643333       1.876643
36  2010      390.101667                     390.101667       2.027290
37  2011      391.850833                     391.850833       1.737958
38  2012      394.055833                     394.055833       1.823775
39  2013      396.737500                     396.738333       1.956231
40  2014      398.870833                     398.870000       2.062093
41  2015      401.012500                     401.012500       1.967907
42  2016      404.412500                     404.414167       2.208719
43  2017      406.757500                     406.757500       2.030943
44  2018      408.715000                     408.715000       1.787718
45  2019      411.654167                     411.655833       1.940963
46  2020      414.238333                     414.235833       1.880947
47  2021      416.450833                     416.450000       2.025027

   CO2_category
0           Low
1           Low
2           Low
3           Low
4           Low
5           Low
6           Low
7           Low
8           Low
9           Low
10          Low
11          Low
12          Low
13          Low
14     Moderate
15     Moderate
16     Moderate
17     Moderate
18     Moderate
19     Moderate
20     Moderate
21     Moderate
22     Moderate
23     Moderate
24     Moderate
25     Moderate
26     Moderate
27     Moderate
28     Moderate
29     Moderate
30     Moderate
31     Moderate
32     Moderate
33     Moderate
34     Moderate
35     Moderate
36     Moderate
37     Moderate
38     Moderate
39     Moderate
40     Moderate
41         High
42         High
43         High
44         High
45         High
46         High
47         High

In [12]:
#save Annual_Stats as .csv
annual_stats.to_csv('Annual_Stats.csv')